.button {
  min-width: 260px;
  min-height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  background-color: #fc9b27;
  border: none;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #fc7427;
  box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.14);
}

.button:active {
  background-color: #f35714;
  box-shadow: none;
}
